* {
  border: 1px solid blue;
  background-color: hsla(313, 20%, 56%, 0.819);
}
:root {
  --sari: #fdc913;
  --acik-gri: #5f5f5f;
  --koyu-gri: #292929;
  --kirmizi: #ce2829;
  --bej: #faf7f2;
}
body{
    width:585px;
}
header {
  text-align: center;
  font-family: Roboto Condensed;
  background-image: url("public\\assets\\iteration-1\\home-banner.png");
  background-position: 50%;
  background-repeat:no-repeat;
  height: 1080px;
  color:white;
  padding:70px;
}

header p {
  font-size: 86px;
  font-weight: 300;
  line-height: 92px;
  letter-spacing: 1.5px;
 
}

.header-btn {
  background-color: #fdc913;
  width: 193px;
  height: 56px;
  border-radius: 50px;
  font-family: Barlow;
  font-size: 24px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
}
