* {
  /* border: 1px solid blue; */
}
:root {
  --sari: #fdc913;
  --acik-gri: #5f5f5f;
  --koyu-gri: #292929;
  --kirmizi: #ce2829;
  --bej: #faf7f2;
}
body {
  width: 585px;
  background-color: #faf7f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  text-align: center;
  font-family: Roboto Condensed;
  background-image: url("public/assets/iteration-1/home-banner.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  color: white;
  padding: 70px;
  background-color: #ce2829;
}
header h1 {
  font-size: 40px;
  font-family: Londrina Solid;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
}

header p {
  font-size: 86px;
  font-weight: 300;
  line-height: 92px;
  letter-spacing: 1.5px;
  margin: 40px 0;
}

.header-btn {
  background-color: #fdc913;
  border-radius: 50px;
  font-family: Barlow;
  font-size: 24px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  padding: 0 60px;
  border: none;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 42px 0;
  gap: 42px;
  margin-top: 0;
}
.menu-container {
  width: 100%;
  background: white;
}
.menu-item {
  display: flex;
  gap: 16px;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 500;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 422px;
  margin-top: 53px;
}

.card {
  border-radius: 12px;
  color: white;
  font-family: Barlow;
  font-size: 32px;
}
h2 {
  margin: 0;
}
.card button {
  border-radius: 50px;
  color: #ce2829;
  font-size: 14px;
  font-weight: 600;
  padding: 1rem;
  border: none;
  padding: 3px 18px 0px 18px;
  height: 48px;
  width: 138px;
  font-weight: 600;
}

.card-1 {
  background-image: url("/assets/iteration-2/cta/kart-1.png");
  font-family: Quattrocento;
  background-size: cover;
  background-repeat: no-repeat;
  height: 296px;
  background-position: center;
  padding-top: 40px;
  padding-left: 40px;
}
.card-1 h2 {
  padding: 8px;
  font-size: 68px;
  line-height: 72px;
}
.card-1 h3 {
  font-family: Barlow;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 25px;
  font-weight: 600;
}

.card-2 {
  background-color: #292929;
  height: 164px;
  padding: 53px 32px;
  display: flex;
  align-items: center;
  gap: 11px;
}

.card-2 img {
  width: 164.22px;
  height: 118px;
}

.card-2 h2,
.card-3 h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 44.27px;
  margin-bottom: 29px;
}

.card-3 {
  background-image: url("/assets/iteration-2/cta/kart-3-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: antiquewhite;
  background-position: bottom;
  color: #292929;
  display: flex;
  align-items: center;
  height: 270px;
  padding-left: 32px;
}

.card-3 span {
  color: #d80027;
}

.choices-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 53px;
  margin-bottom: 53px;
}

.choices-1 h2 {
  font-family: Satisfy;
  font-size: 32px;
  font-weight: 400;
  line-height: 44.27px;
  text-align: center;
  color: #ce2829;
  margin-bottom: 30px;
}

.choices-1 h3 {
  font-family: Barlow;
  font-size: 42px;
  font-weight: 600;
  line-height: 56.2px;
  text-align: center;
  margin: 0;
}
.rounded {
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border: none;
  background-color: white;
}

.right-menu {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;
}

.left-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-item.rounded:hover {
  background-color: #292929;
  color: white;
  cursor: pointer;
}

.pizza-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin-bottom: 24px;
  padding: 32px;
  font-family: Barlow;
}
.pizza-card img {
  width: 356px;
  height: 372px;
}

.pizza-card h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.menu-info {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
}
.menu-info div span {
  margin-right: 33px;
}
.menu-info div span:nth-child(2) {
  font-size: 20px;
}

footer {
  background-color: #1a1a1a;
  color: white;
  width: 100%;
}
footer div:first-child {
  margin: 81px 60px 50px 58px;
}

footer h1 {
  font-family: Londrina Solid;
  font-size: 50px;
  font-weight: 400;
  margin-top: 81px;
  margin-bottom: 31px;
}

address {
  font-style: normal;
}

.footer-address,
.hot-menu ul {
  list-style-type: none;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
}
.footer-address li {
  margin-bottom: 22px;
}
.footer-address li a {
  text-decoration: none;
  color: white;
}
.footer-address img {
  margin-right: 13px;
}

.hot-menu h2,
.insta h2 {
  font-family: Barlow;
  font-size: 24px;
  font-weight: 500;
  margin-top: 58px;
}

.hot-menu li {
  margin-bottom: 7.5px;
  line-height: 32.4px;
}
.insta div {
  display: flex;
  flex-wrap: wrap;
  width: 347px;
  gap: 16px;
  margin-bottom: 2px;
  margin-top: 40px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ffffff15;
  margin-top: 80px;
  padding-top: 34px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
}
